$font1: "Raleway", sans-serif;
$font2: "Open Sans", sans-serif;

$color1:#fffafa;
$color2:#E5E5E5;
$color3:#1089FF;
$color4:#1f2b38;
$color5:#4b9ef1;
$color6:#2491ff;
$color7:#29435f;
$color8:#23374D;