@import "./theme";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    &::-webkit-scrollbar-track {
        -webkit-box-align: inset 0 0 6px rgba($color: $color4, $alpha: 0.3);
        background-color: #f5f5f5;
    }
    &::-webkit-scrollbar {
        width: 5px;
        background-color: #f5f5f5;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $color4;
    }
}

body {
    background-color: $color1;
    font-family: $font2;
    overflow-x: hidden;
}

a {
    color: $color3;
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover {
        color: $color4;
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

section {
    padding: 55px 0;
    overflow: hidden;
    min-height: calc(100vh - 70px - 50px - 51px);
}
.breadcrumbs{
    min-height: min-content;
}
.section-title {
    padding-bottom: 20px;
}
.section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
}
.section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: $color3;
    margin: 4px 10px;
}
.section-title p {
    margin: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: $font2;
    color: $color4;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
    padding: 20px 0 20px 0;
    background: rgba($color: $color4, $alpha: 0.2);
    border-bottom: 1px solid #ededed;
    margin-bottom: 40px;
}
.breadcrumbs h2 {
    font-size: 28px;
    font-weight: 700;
    color: $color4;
}
.breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 0 5px 0;
    margin: 0;
    font-size: 14px;
}
.breadcrumbs ol li + li {
    padding-left: 10px;
}
.breadcrumbs ol li + li::before {
    display: inline-block;
    padding-right: 10px;
    color: #6e6e6e;
    content: "/";
}

@import "./scss/navbar";
@import "./scss/to-top";

@import "./scss/pages/index";
@import "./scss/pages/events";

@import "./scss/footer";
@import "./scss/timer";